{% extends "helo/basic.html" %}
{% block title %} {{a.name}} | Login {% endblock %}
{% block body %} 








<div class="main" style="margin-top: 2%; margin-bottom: 2%; text-align: center;">
    <label style="font-family: Kristen ITC; font-size: 170%; margin-bottom: 5%;">Log In into AMKART</label>
<form method="POST">
  {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" style="font-family: Kristen ITC; font-size: 170%;">Username 👇</label>
      <input type="text" name="username" class="form-control" id="exampleInputEmail1"  style="font-family: Kristen ITC; font-size: 170%; text-align: center;" value="" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label" style="font-family: Kristen ITC; font-size: 170%; margin-top: 5%;">Password 👇</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" style="font-family: Kristen ITC; font-size: 170%; text-align: center;" value="" required>
    </div>
    <button type="submit" class="btn btn-info" style="margin-top: 5%; width: 100%; font-family: Kristen ITC; font-size: 170%; margin-bottom: 15%;">Log In</button>
  </form>
<label style="font-family: Kristen ITC; font-size: 150%; margin-bottom: 5%;">Don't have an AMKART account yet?</label>
<a href="{% url 'signup' %}"><button type="submit" class="btn btn-info" style="width: 100%; font-family: Kristen ITC; font-size: 170%;">Sign up to AMKART</button></a>
</div>








{% endblock %}